/* all element-------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}
::selection {
    background-color: #000;
    color: #fff;
}
:root {
    --mycolor: rgb(177, 177, 177);
    --black: #000;
}
html {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, a {
    text-decoration: none;
    color: #000;
    white-space: wrap;
}

/** all element-------------------------------------------------------------------------------------------------------*/

/* header section-----------------------------------------------------------------------------------------------------*/
#nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid gainsboro;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.219);
}
.conteiner {
    width: 70%;
    height: 100%;
    margin: auto;
}
.leftdiv {
    float: left;
    width: 25%;
    height: 80px;
}
form {
    height: 100%;
    width: 100%;
}
.leftdiv input{
    width: 90%;
    padding: 7px 20px;
    margin: 23px 0;
    border-radius: 30px;
    border: 1px solid gainsboro;
    font-weight: 500;
}
.leftdiv input:focus {
    outline: none;
    border: 1px solid var(--black);
}
.leftdiv i {
    font-size: 18px;
    color: gray;
    padding-right: 5px;
    float: left;
    margin: 32px 0;
}

.centerdiv {
    width: 50%;
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerdiv .name {
    font-size: 22px;
    text-align: center;
}
.centerdiv .name a img {
    width: 70%;
}
.rightdiv {
    float: left;
    width: 25%;
    height: 80px;
}
.rightdiv .icoul {
    float: left;
    margin: 30px 0;
    padding: 0;
}
.rightdiv .icoul li{
    display: inline;
    list-style-type: none;
}
.rightdiv .icoul li a .ico{
    color: black;
    padding: 0 10px;
    font-weight: 200;
}
.labeldiv {
    display: block;
    width: auto;
    height: 100%;
}
.rightdiv #open {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 25px 0;
    cursor: pointer;
    float: right;
}
.ulbar label #close {
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: block;
    cursor: pointer;
    float: right;
    z-index: 4;
    position: absolute;
    top: 30px;
    right: 30px;
}
#check {
    float: left;
    margin: 33px 0;
    display: none;
}
.ulbar {
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    position: fixed;
    right: -250px;
    top: 0;
    transition: .5s ease;
    box-shadow: -10px 0 20px -10px rgb(0 0 0 / 10%);
}
.libar {
    padding-top: 70px;
}
.ulbar li {
    display: block;
    list-style-type: none;
}
.ulbar li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
}
.ulbar li a:hover {
    color: #f79918;
    transition: .2s;
    display: block;
    width: 100%;
}
.ulbar li .a1 {
    color: #f79918;
}
#exit {
    color: #000;
    font-size: 30px;
    cursor: pointer;
    display: block;
    width: 100%;
}
#check:checked ~ .ulbar {
    position: fixed;
    right: 0;
    top: 0;
    transition: .5s;
}
#check:checked ~ label #open {
    display: none;
}
#check:checked ~ label #close {
    position: fixed;
}
#check:checked ~ label #close
.bars:hover {
    color: var(--black);
}

/** header section---------------------------------------------------------------------------------------------------*/

/* Center title------------------------------------------------------------------------------------------------------*/
.trending {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trending .tren {
    font-size: 42px;
    font-weight: 700;
}

/** Center title---------------------------------------------------------------------------------------------------*/

/* Carusel section-------------------------------------------------------------------------------------------------*/

#carouselExampleIndicators {
    height: 460px !important;
    cursor: pointer !important;
}
.carousel-indicators {
    margin-bottom: 0 !important;
    margin-top: 30px !important;
}
.carousel-indicators [data-bs-target] {
    background-color: #000 !important;
    height: 10px;
    border-top: 0 !important;
    border-bottom: 0 !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 50% !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background: none !important;
}
.carousel-control-prev-icon .fa-chevron-left{
    color: transparent !important;
    font-size: 28px !important;
    transition: .4s !important;
}
.carousel-control-next-icon .fa-chevron-right{
    color: transparent !important;
    font-size: 28px !important;
    transition: .4s !important;
}
#carouselExampleIndicators:hover .fa-chevron-left {
    transform: translateX(-50px) !important;
    color: #000000 !important;
    transition: .4s !important;
}
#carouselExampleIndicators:hover .fa-chevron-right {
    transform: translateX(50px) !important;
    color: #000000 !important;
    transition: .4s !important;
}
.leftimg {
    width: 450px;
    height: 360px;
    float: left;
    overflow: hidden;
}
.leftimg .d-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    float: left;
}



.rightcorusel{
    width: 65%;
    height: 100%;
    float: left;
}
.rightcorusel-top {
    width: 100%;
    height: auto;
    padding-top: 7%;
    padding-left: 5%;
}
.rightcorusel-top .toph5 {
    font-size: 16px;
}
.rightcorusel-top .topspan {
    color: var(--mycolor);
}
.rightcorusel-center {
    width: 100%;
    height: auto;
    padding-left: 5%;
}
.rightcorusel-center .centerh1 {
    font-size: 48px;
    font-weight: 700;
}
.centerp {
    color: var(--mycolor);
    font-family: sans-serif;
    font-size: 12px;
}



.rightcorusel-bottom {
    width: 100%;
    height: auto;
    padding-left: 5%;
}
.rightcorusel-bottom .portfolio {
    width: 50px;
    border-radius: 50%;
    float: left;
}
.text {
    font-weight: 800;
    float: left;
}
.text2 {
    align-items: flex-end;
}

/** Carusel section-------------------------------------------------------------------------------------------------*/

/* content section-------------------------------------------------------------------------------------------------*/

.backconteiner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10%;
}
.conteiner1 {
    width: 80%;
    height: 100%;
    margin: auto;
}
.content {
    width: 400px;
    height: 600px;
    margin: 10px 0;
}
.contentbox {
    margin: 10px;
}
.contentimgdiv {
    width: 100%;
    height: 240px;
}
.contentimgdiv .contentimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.contentinfo {
    width: 100%;
    height: 300px;
}
.contein-p {
    font-weight: 700;
    font-size: 16px;
    padding-top: 30px;
}
.contein-span {
    color: var(--mycolor);
    font-weight: 500;
}
.contein-h5 {
    font-size: 21px;
    font-weight: 700;
}
.conteinp {
    font-weight: 600;
    color: var(--mycolor);
}
.portfolio {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    object-fit: cover;
    object-position: 0 0%;
}

/** content section-------------------------------------------------------------------------------------------------*/

/* corusel 2 section-------------------------------------------------------------------------------------------------*/

#carouselExampleIndicators2 {
    height: auto;
}
.corusel2 {
    padding-top: 3rem;
    padding-bottom: 7rem;
}
.most {
    width: 100%;
    height: auto;
    margin-top: 70px;
    padding: 0 10px;
    padding-bottom: 50px;
}
.mosth1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}


.inner-corusel {
    width: 90%;
    height: 900px;
    margin: auto;
}
.conteiner3 {
    width: 50%;
    margin: auto;
}
.topimg {
    width: 100%;
    height: auto;
    display: block;
    border-radius: .5em;

}
.topimg .activeimg {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: .5em;
}
.bottomtitlediv {
    width: 100%;
    height: auto;
    display: block;
}
.title-h5 {
    width: 100%;
    display: block;
    padding-top: 4%;
}
.title-name {
    width: 100%;
    display: block;
}
.bottomtitlediv .titlename-h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
}
/** corusel 2 section-------------------------------------------------------------------------------------------------*/

/* Hobbies section-------------------------------------------------------------------------------------------------*/
    .section {
        width: 100%;
        height: 600px;
        padding-top: 0;
    }
    .conteiner4 {
        width: 85%;
        margin: auto;
    }
    .leftsection {
        width: 50%;
        height: auto;
        float: left;
        margin-top: 30px;
        padding: 0 20px;
    }
    .topsection-h1 {
        font-size: 27px;
        font-weight: 700;
        padding: 10px 0;
    }
    .sectdiv {
        width: 100%;
        height: 150px;
        margin: 25px 0;
    }
    .leftdivimg {
        width: 25%;
        height: 150px;
        float: left;
    }
    .leftdivimg img {
        width: 100%;
        border-radius: 7px;
        margin-top: 20px;
    }
    .rightdivsection {
        width: 75%;
        height: 150px;
        float: left;
    }
    .toptitle-p {
        font-size: 1.5rem;
        font-weight: 700;
        padding-left: 10px;
        padding-bottom: 5px;
        margin: 0;
    }
    .toptitl-span {
        color: var(--mycolor);
        font-size: 15px;
        font-weight: 400;
    }
    .centertitle-h5 {
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 10px;
        padding-left: 10px;
        margin: 0;
    }
    .bottomtitlediv .imgport {
        width: 55px;
        border-radius: 50%;
        padding-left: 10px;
        float: left;
    }
    .strongtitle {
        float: left;
    }

/** Hobbies section-------------------------------------------------------------------------------------------------*/

/* Subcribes-------------------------------------------------------------------------------------------------*/
    .subcribes {
        width: 100%;
        height: auto;
        margin: 12rem 0;
    }
    .allinputdiv {
        width: 100%;
        height: auto;
    }
    .toptitle {
        margin: 15px 5px;
    }
    .subcribesname {
        font-size: 26px;
        font-weight: 700;
    }
    .leftinputdiv {
        width: 65%;
        height: auto;
        float: left;
    }
    .rightbuttondiv {
        width: 35%;
        height: auto;
        float: left;
    }
    .inputdiv {
        width: 100%;
        height: auto;
    }
    .inputdiv input {
        width: 100%;
        padding: 10px 15px;
        border-radius: 7px;
        font-weight: 400;
        border: 1px solid var(--mycolor);
        font-size: 17px;
    }
    .inputdiv input:focus {
        outline: none;
        border: 1px solid black;
    }
    .rightbuttondiv #submit {
        width: 90%;
        height: 50px;
        margin-left: 20px;
        border-radius: 30px;
        background-color: #000000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        border: none;
    }
    .rightbuttondiv #submit:hover {
        background-color: #fff;
        color: #000000;
        box-shadow: 0 10px 10px;
    }

/** Subcribes-------------------------------------------------------------------------------------------------*/

/* Footer-------------------------------------------------------------------------------------------------*/
    .footer {
        width: 100%;
        padding: 60px;
    }
    .flex {
        display: flex;
        justify-content: center;
    }
    .topulicon {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }
    .icouldiv {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        padding: 0;
    }
    .icouldiv li {
        display: inline-block;
        list-style-type: none;
    }
    .icouldiv li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: relative;
        background: #ccc;
        border-radius: 40%;
        color: #000;
        font-size: 15px;
        margin: 0 3px;
        text-decoration: none;
    }
    .icouldiv li a i {
        transition: .2s;
    }
    .icouldiv li a:hover {
        background-color: #000000;
        color: #fff;
        transition: .2s;
    }
    .bottomul-p {
        text-align: center;
        font-size: 15px;
        color: gray;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .heart {
        color: red;
    }
    .twoodiv {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .twoodiv .left {
        font-size: 15px;
        color: gray;
        font-weight: 500;
    }
    .s {
        padding: 0 8px;
    }
    .twoodiv .left:hover {
        border-bottom: 5px solid #000000;
        transform: scale(1.1);
        transition: .3s;
        cursor: default;
    }

/** Footer-------------------------------------------------------------------------------------------------*/
